* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: oswald, helvetica, arial, sans-serif;
	background:url(bg.jpg), #000;
	background-size: cover;
	background-attachment:fixed;
}

.contenedor {
	width:90%;
	max-width:1000px;
	margin:auto;
}

#particles-js {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);
}

header {
	position: relative;
	height:auto;
}

header .menu {
	background: rgba(255, 255, 255, 0.4);
	overflow: hidden;
}

header .logo { font-family: 'Major Mono Display', monospace;
	color:rgba(0, 0, 0, 0.8);
	float:left;
	font-size:30px;
	line-height:80px;
	font-weight: 900;
}

header nav {
	float:right;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	color:rgba(0, 0, 0, 0.8);
	text-decoration: none;
	display: block;
	font-size:18px;
	padding:0 20px;
	line-height:80px;
	font-weight: 900;
}

header nav ul li:hover {
	background:rgba(63, 63, 63, 0.4);
}

header nav ul li a:hover {
	color:#fff;
}

.texto {
	color:#000;
	position:relative;
	padding:200px 0;
	text-align: center;
	font-weight: 400;
}

.texto h2, .texto p {
	background: rgba(255, 255, 255, 0.4);
	display:inline-block;
	padding:10px 20px;
}

.texto h2 {
	font-size:40px;
	letter-spacing: 2.5px;
	font-weight: normal;
	font-weight: 510;
}

.texto p {
	font-size:20px;
	letter-spacing: 2.5px;
	font-weight: 510;
}

.principal {
	position:relative;
	color:#000;
}

.principal img {
	width: 100%;
	margin-bottom: 1.5%;
}

.principal article {
	padding:20px;
	background: rgba(187, 187, 187, 0.6);
	margin-bottom: 20px;
}

.principal article p {
	margin-bottom: 20px;
	line-height:24px;
	font-weight: 400;
}

.principal article .fecha {
	color:#3f3f3f;
}
.texto1 { font-family: 'Major Mono Display', monospace;
	font-size:70px;
	cursor: pointer;
	color:#CBAC4D;
	text-decoration:none;
	text-align: center;
  }